<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}

        {% if site.sc_project %}
          <script type="text/javascript">
          var sc_project={{site.sc_project}}; 
          var sc_invisible=1; 
          var sc_security="{{site.sc_security}}"; 
          </script>
          <script src="https://www.statcounter.com/counter/counter.js"
          async></script>
          <noscript><div class="statcounter"><a title="site stats"
          href="https://statcounter.com/" target="_blank"><img
          class="statcounter"
          src="https://c.statcounter.com/{{site.sc_project}}/0/{{site.sc_security}}/1/"
          alt="site stats"></a></div></noscript>
        {% endif %}
        {% if site.clicky %}
          <script async data-id="{{site.clicky}}" src="https://static.getclicky.com/js"></script>
          <noscript><p><img alt="Clicky" width="1" height="1" src="https://in.getclicky.com/{{site.clicky}}ns.gif" /></p></noscript>
        {% endif %}
  </body>

</html>
